.primeira-coluna{
    height: 100vh;
    width: 50vw;
    float: left;
}


@media screen and (max-width: 800px) {
    .segunda-coluna {
      display: none;
    }
  }

  @media screen and (min-width: 800px) {
    .segunda-coluna {
        height: 100vh;
        width: 50vw;
        float: right;
        transition: 2s;
        transition-delay: 1s;
        transition-duration: 2s;
        
        background-color: #F2EEE9;
    }
  }

